In [ ]:
n = 9

napis = ("")
for liczba in range(n):
  liczba = str(liczba)
  napis = napis + liczba
  napis = napis.replace ("0","")
  print (napis)

1
12
123
1234
12345
123456
1234567
12345678

In [ ]:
n = 5
napis = ""

for liczba in range(n):
  napis += "*"
  print(napis)

for liczba in range(n, 0, -1):
  napis = napis[:-1]
  print(napis)

*
**
***
****
*****
****
***
**
*

In [4]:
lista_liczby = [6, 2, 3, 7, 1, 12, 56, 99]
lista_liczby = int(lista_liczby)
for n in range(len(lista_liczby)):
    if lista_liczby / 2 == True:
        lista_liczby.replace = "pomocy"

print(lista_liczby)

TypeError: ignored

In [ ]:
liczby = [6, 2, 3, 7, 1, 12, 56, 99]

najmniejsza_wartosc = min(liczby)
print("Najmniejsza wartość w liście:", najmniejsza_wartosc)

Najmniejsza wartość w liście: 1